<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hlavná stránka</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <h1>{{ g.t["main"] }}</h1>
    <a href="/kurzy"><button>Zobraz všetky kurzy</button></a>
    <a href="/treneri"><button>Zobraz všetkých trénerov</button></a>
    <a href="/ucastnici"><button>Zobraz všetkých účastníkov</button></a>
    <a href="/miesta"><button>Zobraz všetky miesta</button></a>
    <a href="/registracia"><button>Registruj trénera</button></a>
    <a href="/novykurz"><button>Vložiť kurz</button></a>
</body>
</html>