<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Tréneri</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <h2>{{ t.trainers_list }}</h2>
    <table>
        <tr>
            <td><h3>MENO</h3></td>
            <td><h3>ŠPECIALIZÁCIA</h3></td>
            <td><h3>TELEFÓN</h3></td>
            <td><h3>ID</h3></td>
        </tr>
    {% for trener in treneri: %}
        <tr>
            <td>{{trener.Meno}} {{trener.Priezvisko}}</td>
            <td>{{trener.Specializacia}}</td>
            <td>{{trener.Telefon}}</td>
            <td>{{trener.Id_trenera}}</td>
        </tr>
    {% endfor %}
</table>

    <a href="/"><button>{{ t.back }}</button></a>
</body>
</html>